@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: #ecfaf6;
  color: #444;
}
li,
a {
  color: #444;
  cursor: pointer;
  transition: 0.2s ease-in-o
}
a {
  cursor: pointer;
}
a:hover {
  color: #000;
}
.active a{
	transition: 0.2s ease-in-out;
	color: #24C030 !important;

}
.doislah-blog-list{
	display:flex;
}
.doislah-blog-list .quote-number{
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 39px;
	min-width: 39px;
	height: 39px;
	background: #24C030;
	border-radius: 50%;
	color: #fff;
}